.my-custom-class {
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
/* Estilo para el fondo de estrellas */
  .stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1200vh;
    z-index: 0; /* Cambia el valor a 0 para que el fondo de estrellas esté detrás del contenido */
    pointer-events: none;
    background: url('C:\Users\pplim\OneDrive\Escritorio\ApiRest_Laravel\vue-project\src\assets\space.jpg');
    animation: starsAnimation 100s linear infinite;
  }

    
  body {
    font-family: 'Star Wars Font', sans-serif;
  }